{% load crispy_forms_tags %}

<html>
<form action="" method="post">

        <div class="formy img-thumbnail">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-4 offset-4 text-center">
                                <i class="fas fa-user fa-4x "></i>
                            </div>
                        </div>
                        <p>Log In</p>
                    </div>
                    <div class="card-body">
                        <table>
                            {{ form|crispy }}
                        </table>
                    </div>
                </div><br>

                <div class="card active">
                    <button class="submit_btn btn-block img-thumbnail move">Post</button>
                </div>
            </div>

            {% csrf_token %}
        </div>
</form>
</html>